@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #FFFCF3;
    height: 100%;
}

img {
    width: 100%;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.header__text{
    padding-bottom: 20px;
}

.button-secondary {
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
    padding: 10px 50px 10px 50px;
    border-radius: 25px;
    font-weight: bold;
}

.button-secondary:hover{
    background-color: #ffffff;
}

.header__hero{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
}

.header__title{
    text-transform: uppercase;
    font-size: 4rem;
    margin-top: 0px;
    margin-bottom: 20px;
}

.button-primary {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #3498DB;
    padding: 15px 50px 15px 50px;
    border-radius: 25px;
    font-weight: bold;
    background-color: #3498DB;
    display: inline-block;
    margin-top: 10px;
}

.button-primary:hover{
    background-color: #232fcc;
    border-color: #212cc0;
}

.header__description{
    color: #636E72;
    margin-bottom: 20px;
}

.header__wrap__img .header__img{
    border-radius: 30px;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.col {
    padding-left: 5px;
    padding-right: 5px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
    .col {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .col {
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .col {
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

.section {
    background-color: #FFFFFF;
    height: 100%;
}

.section__title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.underline {
    height: 5px;
    background-color: #EDA0A8;
    border-style: none;
    margin-bottom: 50px;
}

.w-50 {
    width: 50px;
}

.w-130{
    width: 130px;
}

.w-170{
    width: 170px;
}

.section__content{
    align-items: center;
}

p {
    line-height: 1.6
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.how{
    background-color: #ECF0F1;
}

.start {
    background-color: #FFFCF3;
}

.section__subtitle {
    text-align: center;
    font-size: 1.5rem;
}

.start .header-text {
    text-align: center;
}

.section__wrap{
    padding-bottom: 50px;
}

.start .container .section__wrap {
    text-align: center;
}

footer{
    background-color: #ffffff;
    height: 100%;
    text-align: center;
    padding-top: 50px;
}

.contact {
    display: flex;
    justify-content: center;
}

.contact__item {
    padding-left: 10px;
    padding-right: 10px;
    color: inherit;
}

.fa-facebook:hover {
    color: blue;
}

.fa-instagram:hover {
    color: #cf458a
}

.fa-twitter:hover {
    color: deepskyblue
}

.wow {
    visibility: visible !important;
}